workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
    - if: $CI_COMMIT_BRANCH
    - when: never

stages:
  - lint

lint:
  image:
    name: python:3.12-slim
  tags:
    - docker
  stage: lint
  before_script:
    - pip install uv
    - uv sync --frozen
  script:
    - uv run --frozen ruff format --check .
    - uv run --frozen ruff check --select I --fix --diff .
    - uv run --frozen pyright .
    - uv run --frozen ruff check
